<h1>All dem Tags</h1>

<ul id= "Tags">
<% @tags.each do |tag| %>
	<li>
		<%= link_to tag.name, tag_path(tag) %>
		- <% if logged_in? %>
		<%= link_to "Delete Tag From All Articles", tag_path(tag), method: :delete, data: {confirm: "Do you hate this tag that much?"} %><% end %>
	</li>

<% end %>
</ul>
<h3> <%= link_to "Back to All Posts", articles_path %> </h3>